.search-bar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #244855;
  padding: 20px 0;
}

.search-input {
  padding: 12px 18px;
  font-size: 1rem;
  border: none;
  border-radius: 30px 0 0 30px;
  width: 100%;
  max-width: 500px;
  outline: none;
  color: #244855;
  background-color: #FBE9D0;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

.search-button {
  padding: 12px 20px;
  background-color: #E64833;
  border: none;
  border-radius: 0 30px 30px 0;
  color: #FBE9D0;
  font-size: 1rem;
  cursor: pointer;
}

.search-button:hover {
  background-color: #874F41;
}
