@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Quicksand:wght@300..700&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Tuffy:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
    font-family: 'Red Hat Display', sans-serif;
  }
  

  /* This will remove any default margin, padding, or borders from the root */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

/* Optional: Ensure body takes full width and height */
body {
  background-color: #fff; /* or your theme background */
  overflow-x: hidden;
}
