@import url('https://fonts.googleapis.com/css2?family=Barriecito&family=Quicksand:wght@300..700&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Tuffy:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* {
    font-family: 'Red Hat Display', sans-serif;
  }
  
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: none;
}

body {
  background-color: #fff;
  overflow-x: hidden;
}
